#barraNavegacion {
    background-color: #312d2a;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}

#nav-logo{
    display: flex;
    transition: z-index 0s ease 300ms;
    height: auto;
    max-width: initial;
}
#nav-tools{
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    -ms-flex-pack: end;
    z-index: 1;
}

#nav-bar{
    display: block;
    align-items: center;
    z-index: 2;
    opacity: 1;
}

.bg-display{
    background-image: url('recursos/bg-carousel.png');
    background-size: cover; /* Para cubrir todo el área del body */
    background-position: center; /* Centra la imagen */
    height: 700px; 
    padding: 50px 80px 50px 80px;
    max-height: 900px;
}

.text-nav{
    color: #fff;
    line-height: 1.3;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.img-container {
    height: 100%; /* Altura máxima deseada para la imagen */
    text-align: center;
}

.imagen-ajustada {
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: contain; /* Escala la imagen para que quepa dentro del contenedor */
}

.bg-tarjetas{
    background-color: #a5a5a5;
    background-size: cover; /* Para cubrir todo el área del body */
    background-position: center; /* Centra la imagen */
    height: 500px; 
    padding: 50px 80px 50px 80px;
    max-height: 900px;
}
